<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="css/tailwind.css">
    <link rel="shortcut icon" href="images/malwarebytes-logo-small.png">
</head>
<body class="flex flex-col h-screen">
    <header class="header sticky top-0 bg-white shadow-md flex items-center justify-between px-8 py-02">
        <!-- logo -->
        <h5 class="w-3/12 flex justify-center">
          <a href="/">
            <img src="images/Malwarebytes-logo-large.png" alt="logo" width="250">
          </a>
        </h5>
      
        <nav class="nav font-semibold text-lg">
          <ul class="flex items-center">
              <li class="p-4 border-b-2 border-indigo-500 border-opacity-0 hover:border-opacity-100 hover:text-indigo-600 duration-200 cursor-pointer">
                <a href="/">Home</a>
              </li>
              <li class="p-4 border-b-2 border-indigo-500 border-opacity-0 hover:border-opacity-100 hover:text-indigo-600 duration-200 cursor-pointer">
                <a href="/docs">Docs</a>
              </li>
          </ul>
        </nav>
      
        
      
        <!-- navigation -->
        
      
        <!-- buttons --->
    </header>