<%- include('includes/head.ejs') %>
<div class="lg:text-center flex-grow">
    <p class="mt-2 text-3xl font-bold leading-8 tracking-tight  text-indigo-600 sm:text-4xl"> Page Not Found 404
    </p>
    <!--<h2 class="text-lg font-semibold text-gray-900" >Malware is any software intentionally designed to cause disruption to a computer, server, client, or computer network, leak private information, gain unauthorized access to information or systems, deprive access to information, or which unknowingly interferes with the user's computer security and privacy.</h2>
    <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">This dataset is provided by Microsoft data science community with an unprecedented and encouraging open-source progress on effective techniques for grouping variants of malware files into their respective families.</p>
    <div class="inline-flex ">
    <img  src="https://storage.googleapis.com/kaggle-competitions/kaggle/4117/media/malware_classification.png" />
    -->
</div>

<%- include('includes/end.ejs') %>