<%- include('includes/head.ejs') %>

<script>
  //get upload file name
  function getFileName() {
    var fullPath = document.getElementById('file-upload').value;
    if (fullPath) {
      var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
      var filename = fullPath.substring(startIndex);
      if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
        filename = filename.substring(1);
      }
      return filename;
    }
  }
  //file upload validation max 5mb and type exe
  function validateFile() {
    var fileInput = document.getElementById('file-upload');
    var filePath = fileInput.value;
    var allowedExtensions = /(\.exe)$/i;
    var flag = 1;
    if (!allowedExtensions.exec(filePath)) {
      fileInput.value = '';
      flag = 0;
      alert( 'Please upload file having extension .exe only.' );
    }
    try{
      if ( fileInput.files[0].size > 5242880) {
        fileInput.value = '';
        flag = 0;
        alert( 'File size is too big!' );
      }
    }
    catch(err){
      
    }
    if(flag == 1){
      return flag;
    }
    else{
      document.getElementById('file-upload-label').innerHTML = "Error in file Upload";
      document.getElementById('file-upload-label').style.color = "red";
      
    }
  }
</script>

<main class="flex-grow ">
<div class="bg-white py-12 flex justify-center">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-indigo-600 md:text-5xl lg:text-6xl">Malware Detection using Aritificial intelligence</h1>
      <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">This website provides you to check the file whether it is malware or not using Deep Learning Algorithms</p>
      <a href="/docs" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white bg-indigo-600 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
          Learn more
          <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </a>
    </div>
    <br><br><br><br>
    <div class="lg:text-center">
      <p class="mt-2 text-3xl font-bold leading-8 tracking-tight  text-indigo-600 sm:text-4xl"> Scan Your PE files !</p>
      <!--<h2 class="text-lg font-semibold text-gray-900" >Malware is any software intentionally designed to cause disruption to a computer, server, client, or computer network, leak private information, gain unauthorized access to information or systems, deprive access to information, or which unknowingly interferes with the user's computer security and privacy.</h2>
      <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">This dataset is provided by Microsoft data science community with an unprecedented and encouraging open-source progress on effective techniques for grouping variants of malware files into their respective families.</p>
      <div class="inline-flex ">
      <img  src="https://storage.googleapis.com/kaggle-competitions/kaggle/4117/media/malware_classification.png" />
      -->
    </div>
    </div>
  </div>
</div>

<div class="px-5" id="upload-file">
  <form action="/predict" method="POST" enctype="multipart/form-data">
    <div class="shadow-lg shadow-indigo-500/100  sm:overflow-hidden sm:rounded-md ">
      <div class="space-y-6 bg-white px-4 py-5 sm:p-6 ">
        <div class="">
          <label class="block text-sm font-medium text-gray-700">Upload a file</label>
          <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
            <div class="space-y-1 text-center ">
              
              <div class="flex text-sm text-gray-600">
                <label  for="file-upload" class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                  <div class="flex justify-center">
                    <img srcset="https://img.icons8.com/external-smashingstocks-circular-smashing-stocks/344/external-file-upload-webmobile-applications-smashingstocks-circular-smashing-stocks.png 2x" alt="upload" loading="lazy" style="width: 100px; height: 100px;">
                  </div>
                  <span >Upload a file</span>
                  <input id="file-upload" name="file-upload" type="file" class="sr-only">
                  <p class="pl-1">or drag and drop</p>
                </label>
                <script>
                  // if file is uploaded change the label text
                  document.getElementById('file-upload').onchange = function() {
                    
                    var err = validateFile();
                    console.log(err);
                    if(err == 1){
                      document.getElementById('file-upload-label').innerHTML = getFileName();
                      document.getElementById('file-upload-label').style.color = "green";
                    }
                  };
                </script>
                <br>
              </div>
              <p class="text-xs text-gray-500" id="file-upload-label">PE files, max 5MB</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 text-center sm:px-6 flex justify-center ">
        <button type="submit" class=" rounded-md border border-transparent inline-flex justify-items-center bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Predict</button>
      </div>
    </div>
  </form>
</div>

<div>
  <% if (func == "predict") { %>
    <div class="p-5">
      <div class="flex items-start rounded-xl bg-white p-4  shadow-lg shadow-indigo-500/100 ">
        <div class="flex h-12 w-12 items-center justify-center rounded-full border border-blue-100 bg-blue-50">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
          </svg>
        </div>
        
        <% if (filedefined == "0"){ %>
          <div class="ml-4">
            <h2 class="font-semibold bg-red-500">Error</h2>
              <p class="text-gray-500">Please upload a file</p>
          </div>    
          
        <% } else if (filedefined == "1"){ %>
          <div class="ml-4">
            <h2 class="font-extrabold shadow-indigo-500/100">Prediction</h2>
            <p class="mt-2 font-bold text-grey-800 "><%= head %> => <%= message %></p>
            </div>   
        <% } %>
         
          
      </div>
    </div>
  <br>
  <% } else { %>
      <p></p>
  <% } %>
</div>
<br>

<!-- component -->
<!-- This is an example component -->
<!-- component -->
</main>

<%- include('includes/end.ejs') %>