<%- include('includes/head.ejs') %>

<div class="bg-white py-12 flex justify-center">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-indigo-600 md:text-5xl lg:text-6xl">Malware Detection using Aritificial intelligence</h1>
      <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">This website provides you to check the file whether it is malware or not using Deep Learning Algorithms</p>
      <a href="/docs" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white bg-indigo-600 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
          Learn more
          <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </a>
    </div>
    <br><br><br><br>
    <div class="lg:text-center">
      <p class="mt-2 text-3xl font-bold leading-8 tracking-tight  text-indigo-600 sm:text-4xl"> Malwares</p>
      <h2 class="text-lg font-semibold text-gray-900" >Malware is any software intentionally designed to cause disruption to a computer, server, client, or computer network, leak private information, gain unauthorized access to information or systems, deprive access to information, or which unknowingly interferes with the user's computer security and privacy.</h2>
      <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">This dataset is provided by Microsoft data science community with an unprecedented and encouraging open-source progress on effective techniques for grouping variants of malware files into their respective families.</p>
      <div class="inline-flex ">
      <img  src="https://storage.googleapis.com/kaggle-competitions/kaggle/4117/media/malware_classification.png" />
      </div>
    </div>
  </div>
</div>

<div class="px-5" id="upload-file">
  <form action="/predict" method="POST">
    <div class="shadow sm:overflow-hidden sm:rounded-md ">
      <div class="space-y-6 bg-white px-4 py-5 sm:p-6 ">
        
        <div class="">
          <label class="block text-sm font-medium text-gray-700">Upload a file</label>
          <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
            <div class="space-y-1 text-center ">
              <div class="flex justify-center">
              <img srcset="https://img.icons8.com/external-smashingstocks-circular-smashing-stocks/344/external-file-upload-webmobile-applications-smashingstocks-circular-smashing-stocks.png 2x" alt="upload" loading="lazy" style="width: 100px; height: 100px;">
              </div>
              <div class="flex text-sm text-gray-600">
                <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                  <span>Upload a file</san>
                  <input id="file-upload" name="file-upload" type="file" class="sr-only">
                </label>
                <p class="pl-1">or drag and drop</p>
              </div>
              <p class="text-xs text-gray-500">EXE, ASM, BYTES up to 5MB</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 text-center sm:px-6 inline-flex justify-center ">
        <button type="submit" class=" rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Predict</button>
      </div>
    </div>
  </form>
</div>

<div>
  <% if (prods.length > 0) { %>
      <div class="grid">
          <article class="card product-item">
              <p> <%= prods.title  %></p>
          </article>
      </div>
  <% } else { %>
      <p></p>
  <% } %>
</div>

<!-- component -->
<!-- This is an example component -->

<%- include('includes/end.ejs') %>