<html>
    <body>
        <div>
            <% if (onPredict == 1) { %>
                <div class="grid">
                    <article class="card product-item">
                        <p> <%= prods  %></p>
                    </article>
                </div>
            <% } else { %>
                <p></p>
            <% } %>
          </div>
    </body>
</html>